<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Asgard_Gym"
        tools:targetApi="31">
        <activity
            android:name=".EditarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".NuevoUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".NuevaActividadActivity"
            android:exported="false" />
        <activity
            android:name=".EditarActividadActivity"
            android:exported="false" />
        <activity
            android:name=".HistorialReservasActivity"
            android:exported="false" />
        <activity
            android:name=".CrudReservasActivity"
            android:exported="false" />
        <activity
            android:name=".CrudUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".CrudActividadesActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".ReservasActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleActivity"
            android:exported="false" />
        <activity
            android:name=".AgendaActivity"
            android:exported="false"
            android:theme="@style/Theme.Asgard_Gym" />
        <activity
            android:name=".ActividadAdapter"
            android:exported="false" />
    </application>

</manifest>